# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore vendor/bundle
vendor/bundle

db/*.sqlite3
db/*.sqlite3-journal

log/development.log

.env
start_posgres_foreman.sh
start_redis_posgres_foreman.sh

.DS_Store
